.control-button {
    margin: 1px;
    border: 1px solid;
    cursor: pointer;
    padding: 4px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    display: inline-flex;
    justify-content: center;
    vertical-align: middle;
}

.help-container {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    padding: 1rem 40px;
    width: 100%;
    margin: 0 auto;
}

    .help-container h1 {
        font-size: 2.5rem;
    }

    .help-container h2 {
        font-size: 1.5rem;
    }

    .help-container ul {
        padding-left: 20px;
    }

    .help-container details {
        padding: 12px;
        margin-bottom: 5px;
        border: 1px solid;
        border-radius: 8px;
    }

    .help-container summary {
        font-weight: bold;
        cursor: pointer;
    }

    .help-container details p {
        margin-bottom: 0;
    }

    .help-container section {
        margin-bottom: 0.5rem;
    }