.page {
    display: flex;
    padding: var(--page-padding);
    height: 100%;
}

.planner-wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    border: 1px solid;
    overflow: hidden;
}

.planner-button {
    width: 100%;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 1px solid;
}

.planner-page {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.feed-grid-container {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}

.feed-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2px 5px;
    gap: 1px;
    max-width: 972px;
    margin: 0 auto;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* old IE/Edge */
}

@media (max-width: 800px) {
    .page {
        padding: 0rem;
    }

    .planner-wrapper {
        border: 0px;
    }

    .feed-grid {
        padding: 2px 1px;
    }

    .feed-sidebar-container {
        display: none !important;
    }

    .planner-page {
        width: 100%;
    }
}