@inherits LayoutComponentBase
@* @inject ThemeService ThemeService; *@

<div class="layout-wrapper white-mode">
    <div class="topbar">
        <TopBar />
    </div>

    <div class="main-content">
        @Body
    </div>

    <div class="bottombar">
        <Footer />
    </div>
</div>

<style>  
    .dark-mode{
        --text: #E0E0E0;
        --placeholder: #AAAAAA;
        --background: #1A1A1A;
        --primary: #444444;
        --secondary: #888888;
        --accent: #FF4C4C; 
    }

    .white-mode {
        --text: #333333;
        --placeholder: #888888;
        --background: #FFFFFF;
        --primary: #E0E0E0;
        --secondary: #CCCCCC;
        --accent: #FF5C5C;
    }

    .layout-wrapper {
        --footer-height: 50px;
        --topbar-height: 75px;
        --page-padding: 1rem;
        --full-page-height: calc(100vh - var(--footer-height) - var(--topbar-height) - 2 * var(--page-padding));
        --full-page-height: calc(100svh - var(--footer-height) - var(--topbar-height) - 2 * var(--page-padding));
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background: var(--background);
        color: var(--text);
    }

        .layout-wrapper div, a, button, input, label {
            border-color: var(--text) !important;
            color: var(--text) !important
        }

        .layout-wrapper input {
            background-color: var(--primary);
        }

        .layout-wrapper input::placeholder{
                color: var(--placeholder);
        }

        .layout-wrapper button{
            background-color: var(--primary);
        }

        .layout-wrapper button:hover {
            background-color: var(--secondary);
        }

            .layout-wrapper button.active {
                background-color: var(--secondary);
            }

        .layout-wrapper .nav-links a.active {
            text-decoration: underline var(--accent);
        }

        .layout-wrapper .selection-item:hover{
            background: var(--secondary)
        }

        .layout-wrapper *::-webkit-scrollbar {
            width: 16px;
            height:16px;
        }

        .layout-wrapper *::-webkit-scrollbar-thumb {
            background-color: var(--secondary);
            border-radius: 16px;
        }

        .layout-wrapper *::-webkit-scrollbar-track {
            background-color: var(--primary);
        }

        .layout-wrapper *::-webkit-scrollbar-corner {
            background-color: transparent;
        }

        .layout-wrapper .brand a{
            background: linear-gradient(to right, var(--text) 0%, var(--accent) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

    .topbar {
        background: var(--background);
        position: sticky;
        top: 0;
        z-index: 1000;
        border-bottom: 1px solid;
        height: var(--topbar-height);
        max-height: var(--topbar-height);
    }

    .main-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: var(--page-padding);       
    }

    .bottombar {
        border-top: 1px solid;
        height: var(--footer-height);        
        padding: 1rem;
        text-align: center;
        font-size: 0.9rem;
    }


    @@media (max-width: 450px) {
        .layout-wrapper {
            --footer-height: 75px;
            --topbar-height: 75px;
            --page-padding: 0px;
            --full-page-height: calc(100vh - var(--footer-height) - var(--topbar-height) - 2 * var(--page-padding));
            --full-page-height: calc(100svh - var(--footer-height) - var(--topbar-height) - 2 * var(--page-padding));
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            min-height: 100svh;
            background: var(--background);
            color: var(--text);
        }
    }

    @@media (max-width: 768px) {
        .layout-wrapper

    {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        min-height: 100vh;
        min-height: 100svh;
    }

    .main-content {
        -webkit-overflow-scrolling: touch;
        overscroll-behavior-y: contain;
    }

    }
</style>