.nav-menu {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
    position: relative;
}

.brand ::deep a {
    font-size: 1.5rem;   
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    padding-right: 2rem;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

    .nav-links ::deep a {
        text-decoration: none;
        font-weight: 500;
    }

/* Initially hide nav links on small screens */
.nav-links {
    display: flex;
}

.hamburger {
    display: none;
    border: none;
    cursor: pointer;
    background: none;
}

    .hamburger:hover {
        background: none;
    }

/* Media query for small screens */
@media screen and (max-width: 768px) {
    .nav-links {
        width: 100%;
        display: none;
        flex-direction: column;
        padding: 0 1rem 1rem 1rem;
        background: var(--background);
        border-bottom: 1px solid;
        gap: 1rem;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 2000000;
    }

    .hamburger {
        display: block;
    }

    .nav-links.show {
        display: flex;
    }
}

@media screen and (max-width: 580px) {
    .donate-text {
        display: none;
    }
}