.feed-item {
    aspect-ratio: 3 / 4;
    width: 100%;
    max-width: 324px;
    background: #ccc;
    position: relative;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none; /* Disable iOS callout */
    -webkit-user-select: none; /* Disable text selection */
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent; /* Remove tap highlight */
    touch-action: manipulation;
}

    .feed-item.selected::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 3px solid red;
        pointer-events: none;
        z-index: 2;
    }

    .feed-item * {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        user-select: none;
    }

.feed-item-controls-left {
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 1;
    opacity: 0.5;
    transition: opacity 0.2s ease;
}

.feed-item-controls-right {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 1;
    opacity: 0.3;
    transition: opacity 0.2s ease;
}

.feed-item.selected .feed-item-controls-left,
.feed-item.selected .feed-item-controls-right,
.feed-item.no-image .feed-item-controls-left,
.feed-item.no-image .feed-item-controls-right {
    opacity: 1;
}

@media (hover: hover) {
    .feed-item:hover .feed-item-controls-left, .feed-item:hover .feed-item-controls-right {
        opacity: 1;
    }
}

@media (hover: none) {
    .feed-item .feed-item-controls-left, .feed-item .feed-item-controls-right {
        display: none;
    }

    .feed-item.selected .feed-item-controls-left,
    .feed-item.selected .feed-item-controls-right,
    .feed-item.no-image .feed-item-controls-left,
    .feed-item.no-image .feed-item-controls-right {
        display: block;
    }
}

.control-button {
    border: 1px solid;
    cursor: pointer;
    padding: 4px;
    display: flex;
    align-items: center;
    border-radius: 3px;
}

.fake-button {
    border: 1px solid;
    cursor: pointer;
    padding: 4px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    background: #E0E0E0;
}

    .fake-button:hover {
        background: #CCCCCC;
    }